# ENCODING Y ESTANDARIZACIÓN
---

In [12]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv("datos/03-bikes_limpio.csv", index_col= 0).reset_index(drop= True)
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,winter,0,1,1,1,0,2,18.18125,80.5833,10.749882,654
1,winter,0,2,0,4,1,2,17.68695,69.6087,16.652113,670
2,winter,0,3,0,4,1,1,9.47025,43.7273,16.636703,1229
3,spring,0,4,0,7,0,1,10.60610,59.0435,10.739832,1454
4,spring,0,5,0,2,1,1,11.46350,43.6957,12.522300,1518

### Probamos primero estas opciones
- **Year** : El encoding estaría bien hecho ya porque el año 1 hay más bicis alquiladas
- **Workingday** : El encoding también estaría bien
- **Weathersit** : El encoding sería 1 - 2, para el 2 le ponemos un 1 y para el 3 le ponemos un 0
- **Season** : Hay que hacerlo. Verano 2, primavera y otoño 1, winter 0
- **mnth** enero: 0, febrero, marzo, abril, noviembre y diciembre: 1, junio, julio, agosto, septiembre, octubre: 2
- **Weekday** : Hacemos un map diferente para registered y para casual

In [3]:
map_weathersit = {3:0, 2:1, 1:2}
df["weathersit"] = df["weathersit"].map(map_weathersit)

In [4]:
map_season = {"winter":0, "autumn":1, "spring":1, "summer":2}
df["season"] = df["season"].map(map_season)

In [5]:
mapa_weekday = {1: 0, 2:0, 3: 1, 4: 2, 5: 2, 6:2, 7:0}
df["weekday"] = df["weekday"].map(mapa_weekday)

In [6]:
mapa_mnth = {1: 0, 2:1, 3: 1, 4: 1, 5: 2, 6:2, 7:2, 8:2, 9:2, 10:2, 11:1, 12:1}
df["mnth"] = df["mnth"].map(mapa_mnth)

In [7]:
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,0,0,1,0,0,1,18.18125,80.5833,10.749882,654
1,0,0,1,0,2,1,1,17.68695,69.6087,16.652113,670
2,0,0,1,0,2,1,2,9.47025,43.7273,16.636703,1229
3,1,0,1,0,0,0,2,10.60610,59.0435,10.739832,1454
4,1,0,2,0,0,1,2,11.46350,43.6957,12.522300,1518

In [8]:
df.to_csv("datos/04-bikes_encoding_sinest.csv")

In [10]:
df_est = df.copy()
df_est.head(1)

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,0,0,1,0,0,1,18.18125,80.5833,10.749882,654

## ESTANDARIZACION

In [13]:
num = df_est[["atemp", "hum", "windspeed"]]
num.head(2)

      atemp      hum  windspeed
0  18.18125  80.5833  10.749882
1  17.68695  69.6087  16.652113

In [14]:
st = StandardScaler()
x_tranformadas = pd.DataFrame(st.fit_transform(num))
x_tranformadas.columns = num.columns
df_est[x_tranformadas.columns] = x_tranformadas
df_est.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,0,0,1,0,0,1,-0.691698,1.254842,-0.360109,654
1,0,0,1,0,2,1,1,-0.752316,0.465708,0.867064,670
2,0,0,1,0,2,1,2,-1.759976,-1.395307,0.863860,1229
3,1,0,1,0,0,0,2,-1.620681,-0.293988,-0.362199,1454
4,1,0,2,0,0,1,2,-1.515533,-1.397579,0.008406,1518

In [16]:
df_est.to_csv("datos/05-bikes_encoding_est.csv")