# ENCODING Y ESTANDARIZACIÓN
---

In [15]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [16]:
df= pd.read_csv("datos/04-bikes_mediana.csv", index_col= 0).reset_index(drop= True)
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,registered
0,winter,0,1,1,1,0,2,14.110847,18.18125,80.5833,10.749882,654
1,winter,0,2,0,4,1,2,14.902598,17.68695,69.6087,16.652113,670
2,winter,0,3,0,4,1,1,8.050924,9.47025,43.7273,16.636703,1229
3,spring,0,4,0,7,0,1,8.200000,10.60610,59.0435,10.739832,1454
4,spring,0,5,0,2,1,1,9.305237,11.46350,43.6957,12.522300,1518

### Probamos primero estas opciones
- **Year** : El encoding estaría bien hecho ya porque el año 1 hay más bicis alquiladas
- **Workingday** : El encoding también estaría bien
- **Weathersit** : El encoding sería 1 - 2, para el 2 le ponemos un 1 y para el 3 le ponemos un 0
- **Season** : Hay que hacerlo. Verano 2, primavera y otoño 1, winter 0
- **mnth** enero: 0, febrero, marzo, abril, noviembre y diciembre: 1, junio, julio, agosto, septiembre, octubre: 2
- **Weekday** : Hacemos un map diferente para registered y para casual

In [17]:
map_holiday = {0:7, 1:0}
df["holiday"] = df["holiday"].map(map_holiday)

In [18]:
map_weathersit = {3:0, 2:2, 1:3}
df["weathersit"] = df["weathersit"].map(map_weathersit)

In [19]:
map_season = {"winter":0, "autumn":2, "spring":2, "summer":3}
df["season"] = df["season"].map(map_season)

In [20]:
mapa_weekday = {1: 0, 2:0, 3: 1, 4: 2, 5: 2, 6:2, 7:0}
df["weekday"] = df["weekday"].map(mapa_weekday)

In [21]:
mapa_mnth = {1: 0, 2:1, 3: 1, 4: 1, 5: 2, 6:3, 7:3, 8:4, 9:4, 10:3, 11:1, 12:1}
df["mnth"] = df["mnth"].map(mapa_mnth)

In [22]:
map_workingday = {0:1, 1:2}
df["workingday"] = df["workingday"].map(map_workingday)

In [23]:
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,registered
0,0,0,0,0,0,1,2,14.110847,18.18125,80.5833,10.749882,654
1,0,0,1,1,2,2,2,14.902598,17.68695,69.6087,16.652113,670
2,0,0,1,1,2,2,3,8.050924,9.47025,43.7273,16.636703,1229
3,2,0,1,1,0,1,3,8.200000,10.60610,59.0435,10.739832,1454
4,2,0,2,1,0,2,3,9.305237,11.46350,43.6957,12.522300,1518

In [24]:
df.to_csv("datos/08-bikes_encoding_sinest_mediana.csv")

In [25]:
df_est = df.copy()
df_est.head(1)

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,registered
0,0,0,0,0,0,1,2,14.110847,18.18125,80.5833,10.749882,654

## ESTANDARIZACION

In [26]:
num = df_est[["atemp", "hum", "windspeed"]]
num.head(2)

      atemp      hum  windspeed
0  18.18125  80.5833  10.749882
1  17.68695  69.6087  16.652113

In [27]:
st = StandardScaler()
x_tranformadas = pd.DataFrame(st.fit_transform(num))
x_tranformadas.columns = num.columns
df_est[x_tranformadas.columns] = x_tranformadas
df_est.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,registered
0,0,0,0,0,0,1,2,14.110847,-0.680818,1.267606,-0.363437,654
1,0,0,1,1,2,2,2,14.902598,-0.741507,0.480415,0.874656,670
2,0,0,1,1,2,2,3,8.050924,-1.750344,-1.376017,0.871424,1229
3,2,0,1,1,0,1,3,8.200000,-1.610886,-0.277410,-0.365545,1454
4,2,0,2,1,0,2,3,9.305237,-1.505615,-1.378284,0.008358,1518

In [28]:
df_est.to_csv("datos/09-bikes_encoding_est_mediana.csv")